
*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:powderblue;
}


h1, h2{
    color: rgb(106, 106, 209);
}

table{
    border:  dotted blue;
}

hr{
    margin: 23px;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: grey;
}


img{
    border-radius: 50%;
}