@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif, Arial;
}
.top-container{
    background-color: lightblue;
    position: relative;
    padding-top: 100px;
}

h1{
    margin: 0;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 300%;
    color: rgb(126, 126, 223);
    font-weight: 200;
} 

h2, h3{
    color:  rgb(126, 126, 223);
}

.bottom-cloud {
    position: absolute;
    
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right:300px;
    top: 50px;
}

.profile{
    padding-bottom: 40px;
}
.my-image{
    position: relative;
    top: 15px;
    width: 20%;
    height:20%;
    border-radius: 50%;
    padding:0 0 20px 0 ;
    margin-top: 23px;
}

.intro{
    width: 30%;
    position: relative;
    left: 470px;
    line-height: 1.5;
}


.programm-pic{
width: 35%;
height: 50%;
border-radius: 50%;
float: left;
margin-right: 30px;

}

/* .photo-pic{
     position: relative;
    bottom: 10px; 
} */
h2 + p{
    line-height: 4;

}

hr {

    width: 4%;
    border-style: none;
    border-top-style: dotted;
    color: grey;
    border-width: 5px;
    padding:20px 0 20px 0;

}


.middile {
    background-color: rgba(255, 255, 255, 0.459);
}



.photo-pic {
  
   width: 25%;
   border-radius: 50%;
   float: right;
      
}
 

 .skill-row{
     width:50%;
     margin: 100px auto 200px auto;
     text-align: left;
     line-height: 2;
     
 }




 .contact-me{
     line-height: 3;
     
 }


 .bottom-container{
    background-color: rgb(99, 99, 211);
    padding: 2rem;
}

a{
    color: rgb(145, 145, 216);
    margin: 10px;
    text-decoration: none;
}
.bottom-container > a:hover{
      color:white;
}

.btn{
    background-color: lightsteelblue;
    padding:20px;
    position: relative;
    bottom: 20px;
    border-radius: 1rem;
}

.copy{
    font-size: 10px;
    color: white;
    padding-top: 15px;
}